.large-hero {
  position: relative;


  &__text-content {
    color: $mainBlu1;
    position: absolute;
    left: 0;
    top: 50%;
    text-align: center;
    width: 100%;
    transform: translateY(-50%);
  }

  &__title {
    font-weight: 300;
    font-size: 4.8rem;
    color: $mainBlue;
    margin: 0;
  }

  &__subtitle {
    font-weight: 300;
    font-size: 2.9rem;
    color: $mainBlue;
    margin: 0;
  }

  &__description {
    color: #fff;
    font-size: 1.875rem;
    font-weight: 100;
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 2px 2px 0 rgba(0,0,0, .1)
  }
}

