.testimonial {
  background-color: rgba(255, 255, 255, .8);
  padding: 0 18px 1px 18px;
  margin-bottom: 100px;

  @mixin atLarge {
    margin-bottom: 0;
    padding: 0 1.875rem 1rem 1.875rem;
  }

  &--last {
    margin-bottom: 0;
  }

  &__photo {
    border-radius: 80px;
    width: 160px;
    height: 160px;
    overflow: hidden;
    margin: 0 auto -80px auto;
    position: relative;
    top: -80px;
    border: 6px solid rgba(255, 255, 255, .8);
  }

  &__title {
    font-size: 1.5rem;
    color: $mainBlue;
    text-align: center;
    font-weight: 500;
    margin: 0;
  }

  &__subtitle {
    font-size: .9375rem;
    color: $mainOrange;
    text-align: center;
    font-weight: 400;
    margin: .25rem 0 1rem 0;
  }
}